<div class="container">
  <div class="col-sm-8">
    <img src="images/grouppicture.png" alt="">
  </div>
  <div class="col-sm-4">
    <h1>Welcome!</h1>
    <p> Learn more about <a href="/kayla">Kayla!</a></p>
    <p> Learn more about <a href="/adam">Adam!</a></p>
    <p> Learn more about <a href="/jiale">Jiale!</a></p>
    <p> Learn more about <a href="/joseph">Joseph!</a></p>
    <p> Learn more about <a href="/belle">Belle!</a></p>
  </div>
</div>
