<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>About Us!</h1>
      <p class="lead text-muted">Learn more about who created this webapp.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="images/brandeis.jpg" alt="brandeis" class="img-thumbnail">
            <div class="card-body">
              <p class="card-text">This web app is made for COSI 152aj during Summer 2020 for Brandeis University.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="http://www.brandeis.edu/"><button type="button" class="btn btn-sm btn-outline-secondary">Find out more about Brandeis</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="images/adam2.jpg" alt="adam" class="img-thumbnail">
            <div class="card-body">
              <strong>Adam Rogers</strong>
              <p class="card-text">Adam is an incoming Senior at Brandeis University.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/adam"><button type="button" class="btn btn-sm btn-outline-secondary">View Adam's Page</button></a>
                  <a href="mailto:ar226@brandeis.edu"><button type="button" class="btn btn-sm btn-outline-secondary">Email Adam</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="images/belle2.jpg" alt="belle" class="img-thumbnail">
            <div class="card-body">
              <strong>Belle Scott</strong>
              <p class="card-text">Belle is an incoming ???? at Brandeis University.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/belle"><button type="button" class="btn btn-sm btn-outline-secondary">View Belle's Page</button></a>
                  <a href="mailto:bscott@brandeis.edu"><button type="button" class="btn btn-sm btn-outline-secondary">Email Belle</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="images/jiale2.jpg" alt="jiale" class="img-thumbnail">
            <div class="card-body">
              <strong>Jiale Hao</strong>
              <p class="card-text">Jiale is an incoming ???? at Brandeis University.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/jiale"><button type="button" class="btn btn-sm btn-outline-secondary">View Jiale's Page</button></a>
                  <a href="mailto:jlhao028@brandeis.edu"><button type="button" class="btn btn-sm btn-outline-secondary">Email Jiale</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="images/joseph2.jpg" alt="joseph" class="img-thumbnail">
            <div class="card-body">
              <strong>Joseph Nissenbaum</strong>
              <p class="card-text">Joseph is an incoming ??? at Brandeis University.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/joseph"><button type="button" class="btn btn-sm btn-outline-secondary">View Joseph's Page</button></a>
                  <a href="mailto:jnissenbaum@brandeis.edu"><button type="button" class="btn btn-sm btn-outline-secondary">Email Joseph</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="images/kayla2.jpg" alt="kayla" class="img-thumbnail">
            <div class="card-body">
              <strong>Kayla Brumer</strong>
              <p class="card-text">Kayla is an incoming Junior at Brandeis University.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/kayla"><button type="button" class="btn btn-sm btn-outline-secondary">View Kayla's Page</button></a>
                  <a href="mailto:kbrumer@brandeis.edu"><button type="button" class="btn btn-sm btn-outline-secondary">Email Kayla</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>
