<link href="/css/mystyle.css" rel="stylesheet" type="text/css">

<div class="container">
  <div class="col-sm-10">
    <div class = "col-sm-6"><img class = "c" src="/images/adampic.JPG" alt="" width="400" height="262" /></div>
	<h1 class = "col-sm-8">Adam Rogers</h1>
	 	<div class = "col-sm-6">
		<h3>About me:</h3>
		<ul>
			<li>Rising senior</li>
			<li>COSI major</li>
			<li>Ultimate Frisbee on Tron</li>
		</ul>
	</div>
  </div>
</div>
