<div class="jumbotron text-center">
  <h1>California <small>Phase 2</small></h1>
  <p><a href="https://covid19.ca.gov/" target="_blank" rel="nofollow">Click here</a> for the state's latest response to COVID-19</p>
</div>

<div class = "container">
  <div align = "center">
    <img src="/images/statusbar/Phase2.png" class="img-fluid">
  </div>
</div>

<div class="container pt-3">
  <div class="row">
    <div class="col-sm-6">
      <h3 align = "center">Governor Gavin Newsom</h3>
      <img src="/images/gavin.jpg" class="rounded" alt="" class="img-fluid">
    </div>
    <div class="col-sm-6">
      <h3 align = "center">Statistics</h3>
      <table class="table table-bordered" align = "center">
        <tbody>
          <tr>
            <td>Positive Tests</td>
            <td><%=covidData['positive'].toLocaleString()%></td>
          </tr>
          <tr>
            <td>Negative Tests</td>
            <td><%=covidData['negative'].toLocaleString()%></td>
          </tr>
          <tr>
            <td>Total Tests</td>
            <td><%=covidData['total'].toLocaleString()%></td>
          </tr>
          <tr>
            <td>Total Deaths</td>
            <td><%=covidData['death'].toLocaleString()%></td>
          </tr>
        </tbody>
      </table>
      <h3 align = "center">The Latest</h3>
      <ul>
        <li>
          California is in stage 2 of its 4 stage plan to reopen. <a href="https://covid19.ca.gov/roadmap/#top">Click here</a> to see what this means for the state moving forward.
        </li>
        <li>
          Counties in California are reopening at different rates. To see the data county by county, <a href="https://covid19.ca.gov/roadmap-counties/">click here</a>.
        </li>
      </ul>
    </div>
  </div>
</div>
