<div class="container">
    <div class= "mapheader"> Click on the map to learn more about COVID-19 in that area. <br /> <a href="/contact.html"><u>Contact us</u></a></div>
  <div class="row align-items-end">
    <div class="col-md-12">
        <p>
          <form action="/states" method="GET" class="form-inline">
            <div class="form-group" style= "padding: 15px;">
            	<input type="text" name="search" placeholder="State search..." class="form-control">
            	<input type="submit" value="Search" class="btn btn-default">
            </div>
          </form>
        </p>
    </div>
  </div>

  <!-- <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="/images/mass.png">
      <div class="caption">
        <h4>Massachusetts</h4>
      </div>
      <p>
        <a href="/mass" class="btn btn-primary">More Info</a>
      </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="/images/newYork.png">
      <div class="caption">
        <h4>New York</h4>
      </div>
      <p>
        <a href="/ny" class="btn btn-primary">More Info</a>
      </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="/images/Cali.png">
      <div class="caption">
        <h4>California</h4>
      </div>
      <p>
        <a href="/cali" class="btn btn-primary">More Info</a>
      </p>
    </div>
  </div> -->
</div>
<div id="map" style="width: 950px; height: 800px; margin-left: auto; margin-right: auto;"></div>