<div class="container">
  <div class="col-sm-6">
    <img src="images/people.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Welcome!</h1>
    <p> Click on the map to learn more about COVID-19 in that area.</p>
    <p> <a href="/contact.html">Contact us</a> if you have any questions!</p>
  </div>
</div>
