<div class="container">
    <div class= "mapheader"> Click on the map to learn more about COVID-19 in that area. <br /> </div>
    <script async src="https://cse.google.com/cse.js?cx=014315194782570216271:uhxbdq5zgck"></script>
    <div class="gcse-search"></div>
    <h3 align=center style="font-size: 15px; padding-bottom: 30px;"><span style="color: red; font-weight: bold; padding-left:10px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; border: solid 1px red">Phase One</span>  <span style="padding-left:0px;"></span>   <span style="color: orange; font-weight: bold; padding:10px; border:solid 1px orange">Phase Two</span> <span style="color: blue; font-weight: bold; padding:10px; border:solid 1px blue">Phase Three</span> <span style="color: green; font-weight: bold; padding:10px; border:solid 1px green">Phase Four</span></h3>

    <div id="map" style="width: 950px; height: 800px; margin-left: auto; margin-right: auto;"></div>


  <div >
      <h3 align= center >Current US statistics</h3>
      <table class="table table-bordered" align= center style="width: 400px;">
        <tbody>
          <tr>
            <td>Positive Tests</td>
            <td><%=covidData['positive'].toLocaleString()%></td>
          </tr>
          <tr>
            <td>Negative Tests</td>
            <td><%=covidData['negative'].toLocaleString()%></td>
          </tr>
          <tr>
            <td>Total Tests</td>
            <td><%=covidData['total'].toLocaleString()%></td>
          </tr>
          <tr>
            <td>Total Deaths</td>
            <td><%=covidData['death'].toLocaleString()%></td>
          </tr>
        </tbody>
      </table>
      <!-- <table class="table table-bordered" style="width:400px">
        <tbody>
          <tr>
            <td>Red</td>
            <td bgcolor="red">Phase 1</td>
          </tr>
          <tr>
            <td>Orange</td>
            <td  bgcolor="orange">Phase 2</td>
          </tr>
          <tr>
            <td>Blue</td>
            <td  bgcolor="blue">Phase 3</td>
          </tr>
          <tr>
            <td>Green</td>
            <td  bgcolor="green">Phase 4</td>
          </tr>
        </tbody>
      </table> -->
    </div>
      
    </div>
    <a href="/contact" style="margin-bottom: 20px; float:right;"><u>Contact us</u></a>
  <!-- <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="/images/mass.png">
      <div class="caption">
        <h4>Massachusetts</h4>
      </div>
      <p>
        <a href="/ma" class="btn btn-primary">More Info</a>
      </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="/images/newYork.png">
      <div class="caption">
        <h4>New York</h4>
      </div>
      <p>
        <a href="/ny" class="btn btn-primary">More Info</a>
      </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="/images/Cali.png">
      <div class="caption">
        <h4>California</h4>
      </div>
      <p>
        <a href="/ca" class="btn btn-primary">More Info</a>
      </p>
    </div>
  </div> -->
</div>

