<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jiale's Page</title>
    <meta name="description" content="This page is a self-introduction of Jiale Hao">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="script.js"></script>
  </head>
  <style> h1 {text-align:center;} </style>
  <body>
    <h1> Jiale's Bio </h1>
    <center> <a href = "jlhao028@brandeis.edu">jlhao028@brandeis.edu</a> </center>
    <center> 415 South Street, Waltham, MA, 02453 </center>
    <hr>
      <img src=images/bioPic.jpg alt="picOfme" height = "300" width= "300" align = right />
    <h2> Introduction: </h2>
    <pr style="margin-left:5%; margin-right:5%;">
        My name is Jiale Hao.I am an international student studying Computer
        Science and Business. At Brandeis, I volunteer at Stanley Elementry
        School as a big sibling and serve as a tutor for the Chinese department.
        In my spare time I enjoy cooking and gaming or simply sit around doing
        nothing.</pr>
    <hr>
    <h2> List of my favorite movies
    </h2>
    <ul>
      <li>Heat</li>
      <li>Dog Day Afternoon</li>
      <li>Once Upon a time in America</li>
      <li>Reservoir Dogs</li>
      <li>Full Metal Jacket</li>
    </ul>
    <hr>
    <h2> List of my favorite musicians
    </h2>
    <ul>
      <li>Dire Straits</li>
      <li>Anthrax</li>
      <li>Blue Oyster Cult</li>
      <li>Led Zeppelin</li>
    </ul>
    <hr>
    <h2> How to reach me</h2>
    <table></caption>
    <thead>
        <tr>
            <th>Form</th>
            <th colspan="2">@</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>E-mail </td>
            <td><a href = "jlhao028@brandeis.edu">jlhao028@brandeis.edu</a></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>781-240-9373</td>
        </tr>
        <tr>
            <td>Mail</td>
            <td>415 South Street</td>
        </tr>
    </tbody>
</table>
    <!-- Content -->
  </body>
</html>
