<div class="container">
  <div class="col-sm-6"><img src="/images/bioPic.jpg" alt="" /></div>
  <div class="col-sm-6">
    <h1>About Jiale!</h1>
    <ul style="list-style-type: circle;">
      <li>I go to school at <a href="http://www.brandeis.edu/">Brandeis University</a></li>
      <li>I live in Waltham, MA</li>
      <li>I love cooking and gaming</li>
    </ul>
    <hr>
    <h2> How to reach me</h2>
    <table border="2">
      <thead>
        <tr>
          <td>Form of Contact</td>
          <td>@</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>E-mail</td>
          <td>jlhao028@brandeis.edu</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>7812409373</td>
        </tr>
        <tr>
          <td>Mail</td>
          <td>415 South Street</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
