<div class="container">
  <div class="col-sm-6">
    <h1>Joseph???</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/German_Sheppard_w_doggles.jpg/600px-German_Sheppard_w_doggles.jpg">
    <a href="https://en.wikipedia.org/wiki/Doggles"> [Source link]</a>
    <p></p>
  </div>
</div>
