<div class="container">
  <div class="col-sm-6"><img src="/images/kaylapicture.jpg" alt="" /></div>
  <div class="col-sm-6">
    <h1>About Kayla!</h1>
    <ul style="list-style-type: circle;">
      <li>I go to school at <a href="http://www.brandeis.edu/">Brandeis University</a></li>
      <li>I live in Bellevue, WA</li>
    </ul>
    <hr>
    <p>My Schedule on Monday and Tuesday:</p>
    <table border="2">
      <thead>
        <tr>
          <td>Mon</td>
          <td>Tue</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Web App Development</td>
          <td>Web App Development</td>
        </tr>
        <tr>
          <td>No Work</td>
          <td>Work</td>
        </tr>
        <tr>
          <td>Intro to Drawing</td>
          <td>Intro to Drawing</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
