<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>COVID-19 Tracker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" type="image/png" href="/images/icon.png" />
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/custom.css">

	<script type="text/javascript" src= "/js/covidMap.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.0.0/raphael-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
	<script src="https://cdn.rawgit.com/NewSignature/us-map/0677afad/jquery.usmap.js"></script>


</head>

<body>
	<div id="nav" class ="custom">
		<div id="title" class = "header-title">United States COVID-19 Tracker
			<span class="dropdown" id="dropdown-menu" style="padding-left: 300px;">
				<button class="btn btn-secondary dropdown-toggle" style= "background-color: rgb(28, 53, 73);" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Menu
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  <a class="dropdown-item" href="/">Home</a>
				  <a class="dropdown-item" href="/contact">Contact</a>
				  <a class="dropdown-item" href="/showForum">Forum</a>
				  <a class="dropdown-item" href="/about">About</a>
				</div>
			</span>
			<span style= "padding-left:0">
				<% if (!loggedIn) {%>
				<a href="/auth/google">
					<span class="btn btn-secondary" style="background-color: rgb(28, 53, 73);">Login</span>
				</a>
				<% } else  { %>
				|
				<a href="/favs">
					<span class="btn btn-secondary" style="background-color: rgb(28, 53, 73);">Profile</span>
				</a>
				<a href="/logout">
					<span class="btn btn-secondary" style="background-color: rgb(28, 53, 73);">Logout</span>
				</a>
				<% } %>
			</span>
		</div>
		

		

			<!--
				<div class="btn-group dropdown">
				  <button type="button" class="button">
				    About
				  </button>
				  <button type="button" class="button dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <div class="dropdown-menu">
						<a class="dropdown-item" href="/adam">Adam</a>
						<a class="dropdown-item" href="/belle">Belle</a>
						<a class="dropdown-item" href="/jiale">Jiale</a>
						<a class="dropdown-item" href="/joseph">Joseph</a>
						<a class="dropdown-item" href="/kayla">Kayla</a>
				  </div>
				</div>
			-->



		</div>

	<%- body %>

</body>

</html>
