<div class="jumbotron text-center">
  <h1>Massachusetts <small>Phase 1</small></h1>
  <p><a href="https://www.mass.gov/info-details/covid-19-updates-and-information" target="_blank" rel="nofollow">Click here</a> for the state's latest response to COVID-19</p>
</div>

<div class = "container pt-3">
  <div align = "center">
    <h3>Massachusetts is moving to Phase 2: "Cautious" on Monday, June 8th</h3>
  </div>
</div>

<div class="container pt-3">
  <div class="row">
    <div class="col-sm-6">
      <h3>Governor Charlie Baker</h3>
      <img src="/images/baker.jpg" class="rounded" alt="" width="376" height="471">
    </div>
    <div class="col-sm-6">
      <h3 align = "center">Statistics</h3>
      <table class="table table-bordered" align = "center">
        <tbody>
          <tr>
            <td>Positive Tests</td>
            <td>102,557</td>
          </tr>
          <tr>
            <td>Negative Tests</td>
            <td>532,212</td>
          </tr>
          <tr>
            <td>Total Tests</td>
            <td>634,769</td>
          </tr>
          <tr>
            <td>Total Deaths</td>
            <td>7,152</td>
          </tr>
          <tr>
            <td>Active cases</td>
            <td>16,332</td>
          </tr>
        </tbody>
      </table>
      <h3 align = "center">The Latest</h3>
      <ul>
        <li>Governor Baker announced Massuchusetts is moving to Phase 2 on Monday - <a href="https://www.mass.gov/covid19-updates">click here</a> to see the full press conference</li>
      </ul>
    </div>
  </div>
</div>
